#quiz-page {
    display: none;
}

#end-quiz-page {
    display: none;
}

#high-scores-page {
    display: none;
}

#view-high-score {
    justify-content: left;
}

#timer {
    justify-content: right;
}